*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 15px;
}


/*global container*/
.container{
    max-width: 1200px;
    margin: auto;
}


/*TOP-NAV-SECTION-ONE-BACKGROUND-IMAGE*/
.header-top-nav-section-one-backgorund-image{
    background-image: url(images/section-one-background-image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/*TOP-NAV*/
.top-nav-backgroundColor{
    background-color: hsla(38, 94%, 0%, 0.85);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10px;
}
nav .title-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .title-logo button{
    display: none;
}
nav #ul{
    list-style-type: none;
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin: 20px;
    display: block;
}
nav ul a.active{
    color: #ffa400; 
}
nav ul a:hover{
    color: #ffa400;
}

/*SECTION-ONE*/
.section-one{
    display: flex;
    flex-wrap: wrap;
    color: #ededed;
    padding: 150px 30px;
}
.section-one > div{
    width: 50%;
    height: 700px;
}
.section-one .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-one .text > div:nth-child(odd){
    width: 85%;
}
.section-one .text > div:nth-child(odd) h1{
    font-size: 5em;
    font-family: 'Martel', serif;
    color: #ffa400;
    line-height: 85px;
    padding: 30px 0px;
}
.section-one .text > div:nth-child(odd) h2{
    font-size: 1.2em;
    font-family: 'Martel', serif;
    
}
.section-one .text > div:nth-child(odd) p{
    line-height: 25px;
}
.section-one .text > div:nth-child(odd) button{
    margin-top: 40px;
    padding: 15px 35px;
    background-color: inherit;
    border: solid 2px white;
    color: white;
    font-size: 16px;
}
.section-one .text > div:nth-child(odd) button:hover{
    cursor: pointer;
    border-color: #ffa400;
    background-color: #ffa400;
    transition: 0.4s;
}
.section-one #section-one-image{
    width: 95%;
    padding-top: 8px;
    transition: 0.4s;
}
.section-one #section-one-image:hover{
    cursor: pointer;
    padding-top: 0px;
}


/*SECTION-TWO*/
.section-two{
    padding-top: 150px;
    padding-bottom: 35px;
}
.section-two .column{
    display: flex;
}
.section-two .column > div{
    width: 50%;
}
/*column-one*/
.section-two .column .column-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-two .column .column-one .frame-container{
    height: 620px;
}
.section-two .column .column-one .frame-container img{
    padding-top: 8px;
    transition: 0.4s;
    box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
}
.section-two .column .column-one .frame-container img:hover{
    cursor: pointer;
    padding-top: 0px;
}

/*universal style for sections name and description*/
.name-description-wrapper{
    width: 83%;
    padding-right: 60px;
    margin: 50px 0px;
}
.name-description-wrapper .art-name{
    font-family: 'Martel', serif;
    color: #ffa400;
    font-size: 1.2em;
}
.name-description-wrapper .art-description{
    line-height: 25px;
    padding: 20px 0px;
}

/*column-two*/
.section-two .column .column-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-two .column .column-two .section-title-wrapper{
    width: 75%;
}
.section-two .column .column-two .section-title-wrapper .section-title{
    font-family: 'Martel', serif;
    font-weight: normal;
    color: #ffa400;
    font-size: 4em;
    line-height: 65px;
}
.section-two .column .column-two .section-title-wrapper .section-description{
    line-height: 25px;
    padding: 10px 0px;
    padding-bottom: 30px;
}
.section-two .column .column-two .section-title-wrapper button{
    padding: 15px 35px;
    background-color: inherit;
    border: solid 2px black;
    color: black;
    margin-bottom: 40px;
    font-size: 16px;
}
.section-two .column .column-two .section-title-wrapper button:hover{
    cursor: pointer;
    border-color: #ffa400;
    background-color: #ffa400;
    color: white;
    transition: 0.4s;
}
.section-two .column .column-two .frame-container{
    height: 425px
}
.section-two .column .column-two .frame-container img{
    padding-top: 8px;
    transition: 0.4s;
    box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
}
.section-two .column .column-two .frame-container img:hover{
    cursor: pointer;
    padding-top: 0px;
}


/*SECTION-THREE*/
.section-three-background-image{
    background-image: url(images/section-three-background-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-three{
    padding: 120px 0px;
}
.section-three .column{
    display: flex;
}
.section-three .column .story-wrapper{
    width: 70%;
    display: flex;
}
.section-three .column .story-wrapper #artist-image{
    background-image: url(images/section-three-image-col-1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 35%;
}
.section-three .column .story-wrapper #text{
    background-color: white;
    width: 65%;
    padding: 50px;
}
.section-three .column .story-wrapper #text #vertical-line{
    border-left: solid 1px black;
    height: 85px;
}
.section-three .column .story-wrapper #text h2{
    font-family: 'Martel', serif;
    font-weight: normal;
    color: #ffa400;
    font-size: 2.5em;
    padding: 10px 0px;
}
.section-three .column .story-wrapper #text p{
    line-height: 25px;
    padding-bottom: 30px;
}
.section-three .column .moto-wrapper{
    color: #ededed;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.section-three .column .moto-wrapper div{
    padding-left: 40px;
}
.section-three .column .moto-wrapper p{
    line-height: 25px;
    padding: 30px 0px;
}


/*SECTION-FOUR*/
.section-four{
    padding: 80px 0px;
}
.section-four > div{
    padding: 30px 0px;
}
/*row-one*/
.section-four .row-one{
    display: flex;
    align-items: center;  
}
.section-four .row-one > div{
    width: 50%;
}
.section-four .row-one .section-title-wrapper{
    text-align: right;
    padding: 30px;
}
.section-four .row-one .section-title-wrapper .section-title{
    font-family: 'Martel', serif;
    font-weight: normal;
    color: #ffa400;
    font-size: 4em;
    line-height: 65px;
}
.section-four .row-one .section-title-wrapper .section-description{
    line-height: 25px;
    padding: 10px 0px;

}
.section-four .row-one .row-one-image-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-four .row-one .row-one-image-wrapper .frame-container{
    height: 390px;
    margin-bottom: 20px;
}
.section-four .row-one .row-one-image-wrapper img{
    padding-top: 8px;
    transition: 0.4s;
    box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
}
.section-four .row-one .row-one-image-wrapper img:hover{
    cursor: pointer;
    padding-top: 0px;
}
.section-four .row-one .row-one-image-wrapper .art-name{
    font-family: 'Martel', serif;
    color: #ffa400;
    font-size: 1.2em;
}
/*row-two*/
.section-four .row-two{
    display: flex;
    align-content: center;
}
.section-four .row-two > div{
    flex: 1;
    text-align: center;
}
.section-four .row-two .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-four .row-two .box .frame-container{
    height: 380px;
    margin-bottom: 20px;
}
.section-four .row-two .box .frame-container img{
    padding-top: 8px;
    transition: 0.4s;
    box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
}
.section-four .row-two .box .frame-container img:hover{
    cursor: pointer;
    padding: 0px;
}
.section-four .row-two .box .art-name{
    font-family: 'Martel', serif;
    color: #ffa400;
    font-size: 1.2em;
}


/*FOOTER*/
.footer-background-color{
    background-color: #111111;
}
footer{
    color: #ededed;
    display: flex;
    flex-direction: column;
    
}
footer .row-one{
    display: flex;
    padding: 50px 0px;
}
footer .row-one > div{
    flex: 1;
}
footer .box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .box i{
    font-size: 30px;
    padding: 35px;
}
footer .box .icon-name{
    font-family: 'Martel', serif;
    color: #ffa400;
    font-size: 1.2em;
    padding-bottom: 20px;
}
footer .box  span{
    line-height: 25px;
}
footer .box .soc-med-icons{
    display: flex;
}
footer .box .soc-med-icons i{
    font-size: 13px;
    padding: 10px 15px;
    border: solid 2px #ededed;
    margin: 5px;
}
footer .box .soc-med-icons i:hover{
    cursor: pointer;
    border-color: #ffa400;
    background-color: #ffa400;
    color: white;
    transition: 0.4s;
}
footer hr{
    display: none;
}


/*MOBILE SCREEN-SIZE*/
@media(max-width: 481px){
    
    /*universal style for sections name and description*/
    .name-description-wrapper{
        width: 83%;
        padding-right: 0px;
        margin-top: 35px;
    }
    .section-title{
        font-size: 1.8em!important;
    }
  
    
    nav{
        display: flex;
        flex-direction: column;
    }
    nav .title-logo{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        position: relative;
    }
    nav .title-logo div > button{
        background-color: #ededed;
        border: none;
        font-size: 20px;
        display: block;
        padding: 12px 14px;
        border-radius: 2px;
        outline: none;
    }
    nav #ul{
        display: flex;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        transition: 0.4s;
        background-color: black;
        margin-top: 85px;
        width: 95%;
        position: absolute;
    }
    nav ul li{
        border-top: solid 1px #1f1f1f;
    }
    nav ul a{
        margin: 0px;
        padding: 20px;
    }

    
    /*SECTION-ONE*/
    .section-one{
        display: flex;
        flex-direction: column-reverse!important;
        flex-wrap: wrap;
        color: #ededed;
        padding: 50px 30px;
    }
    .section-one > div{
        width: 100%!important;
        height: 450px;
    }
    .section-one .text > div:nth-child(odd){
        width: 100%;
        text-align: center!important;
    }
    .section-one .text > div:nth-child(odd) h1{
        font-size: 2em;
        font-family: 'Martel', serif;
        color: #ffa400;
        line-height: 85px;
        padding: 5px 0px;
    }
    .section-one #section-one-image{
        width: 100%;
        padding-top: 8px;
        transition: 0.4s;
        
    }
    
    
    /*SECTION-TWO*/
    .section-two{
        padding-top: 55px;
        padding-bottom: 35px;
    }
    .section-two .column{
        display: flex;
        flex-direction: column-reverse!important;
    }
    .section-two .column > div{
        width: 100%!important;
        text-align: center;
    }
    .section-two .column .column-two .section-title-wrapper{
        text-align: center!important
    }
    .section-two .column .column-one .frame-container img{
        width: 85%;
        padding-top: 8px;
        transition: 0.4s;
        box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
    }
    .section-two .column .column-two .frame-container img{
        width: 85%;
        padding-top: 8px;
        transition: 0.4s;
        box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
    }

    
    /*SECTION-THREE*/
    .section-three{
        padding: 0px 0px!important;
        padding-bottom: 50px!important;
    }
    .section-three .column{
        display: flex;
        flex-direction: column!important;
    }
    .section-three .column > div{
        width: 100%!important;
    }
    .section-three .column .story-wrapper #artist-image{
        width: 100%!important;
        height: 500px;
    }
    .section-three .column .story-wrapper{
        width: 100%!important;
        display: flex;
        flex-direction: column!important;
        text-align: center;
    }
    .section-three .column .story-wrapper #text #vertical-line{
        display: none;
    }
    .section-three .column .story-wrapper #text{
        width: 100%!important;
    }
    .section-three .column .moto-wrapper{
        width: 100%!important;
        text-align: center!important;
        padding: 30px;
    }
    .section-three .column .moto-wrapper div{
        padding-left: 0px;
    }
    
    
    /*SECTION-FOUR*/
    .section-four{
        padding: 0px 0px;
        padding-bottom: 50px;
    }
    /*row-one*/
    .section-four .row-one{
        display: flex;
        flex-direction: column!important;
        align-content: center;
        align-items: center;
    
    }
    .section-four .row-one > div{
        width: 100%;
        text-align: center;
    }
    .section-four .row-one .section-title-wrapper{
        width: 100%;
        text-align: center!important;
    }
    .section-four .row-one .row-one-image-wrapper{
        width: 100%;
        padding: 30px;
    }
    .section-four .row-one .row-one-image-wrapper .frame-container{
        height: 310px!important;
        margin-bottom: 20px;
    }
    .section-four .row-one .row-one-image-wrapper img{
        width: 100%;
        padding-top: 8px;
        transition: 0.4s;
        box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
    }
    /*row-two*/
    .section-four .row-two{
        display: flex;
        flex-direction: column!important;
        justify-content: center;
        align-content: center;
    }
    
    
    /*FOOTER*/
    footer .row-one{
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
    }
    footer hr{
        display: block;
        background-color: #141414;
    }
}
/*TABLET SCREEN-SIZE*/
@media(max-width: 768px){
    
    /*universal style for sections name and description*/
    .name-description-wrapper{
        width: 83%;
        padding-right: 0px;
        margin-top: 35px;
    }
    .section-title{
        font-size: 1.8em!important;
    }
  
    
    nav{
        display: flex;
        flex-direction: column;
    }
    nav .title-logo{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        position: relative;
    }
    nav .title-logo div > button{
        background-color: #ededed;
        border: none;
        font-size: 20px;
        display: block;
        padding: 12px 14px;
        border-radius: 2px;
        outline: none;
    }
    nav #ul{
        display: flex;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        transition: 0.4s;
        background-color: black;
        margin-top: 85px;
        width: 95%;
        position: absolute;
    }
    nav ul li{
        border-top: solid 1px #1f1f1f;
    }
    nav ul a{
        margin: 0px;
        padding: 20px;
    }
    
    
    /*SECTION-ONE*/
    .section-one{
        display: flex;
        flex-direction: row;
    }
    .section-one > div{
        width: 50%;
        height: 450px;
        text-align: center;
    }
    .section-one .text > div:nth-child(odd){
        text-align: left;
    }
    .section-one .text > div:nth-child(odd) h1{
        font-size: 2em;
        font-family: 'Martel', serif;
        color: #ffa400;
        line-height: 85px;
        padding: 5px 0px;
    }
    
    
    /*SECTION-TWO*/
    .section-two{
        padding-top: 55px;
        padding-bottom: 35px;
    }
    .section-two .column{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-two .column > div{
        width: 50%;
        text-align: center;
    }
    .section-two .column .column-one .frame-container{
        height: 415px;
    }
    .section-two .column .column-two .frame-container{
        height: 285px;
    }
    .section-two .column .column-two .section-title-wrapper{
        text-align: left;
    }
    .section-two .column .column-one .frame-container img{
        width: 85%;
        padding-top: 8px;
        transition: 0.4s;
        box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
    }
    .section-two .column .column-two .frame-container img{
        width: 85%;
        padding-top: 8px;
        transition: 0.4s;
        box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
    }

    
    /*SECTION-THREE*/
    .section-three{
        padding: 50px 0px;
    }
    .section-three .column{
        display: flex;
        flex-direction: column;
    }
    .section-three .column > div{
        width: 50%;
    }
    .section-three .column #artist-image{
        width: 35%!important;
    }
    .section-three .column .story-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .section-three .column .story-wrapper #text{
        width: 65%;
    }
    .section-three .column .moto-wrapper{
        width: 100%!important;
        text-align: right;
        padding: 30px;
    }
    .section-three .column .moto-wrapper div{
        padding-left: 0px;
    }
    
    
    /*SECTION-FOUR*/
    .section-four{
        padding: 0px 0px;
        padding-bottom: 50px;
    }
    /*row-one*/
    .section-four .row-one{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .section-four .row-one > div{
        width: 100%;
        text-align: center;
    }
    .section-four .row-one .section-title-wrapper{
        width: 100%;
        text-align: right;
    }
    .section-four .row-one .row-one-image-wrapper{
        width: 100%;
        padding: 30px;
    }
    .section-four .row-one .row-one-image-wrapper .frame-container{
        height: 285px;
        margin-bottom: 20px;
    }
    .section-four .row-one .row-one-image-wrapper img{
        width: 100%;
        padding-top: 8px;
        transition: 0.4s;
        box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
    }
    /*row-two*/
    .section-four .row-two{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    
    
    /*FOOTER*/
    footer .row-one{
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
    }
    footer hr{
        display: block;
        background-color: #141414;
    }
    
}


