*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 20px;
}


/*global container*/
.container{
    max-width: 1200px;
    margin: auto;
}


/*TOP-NAV-SECTION-ONE-BACKGROUND-IMAGE*/
.header-top-nav-section-one-backgorund-image{
    background-image: url(images/section-one-background-image.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/*TOP-NAV*/
.top-nav-backgroundColor{
    background-color: hsla(38, 94%, 0%, 0.85);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10px;
}
nav .title-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul a{
    text-decoration: none;
    color: white;
    margin: 20px;
    display: block;
}
nav ul a:hover{
    color: #ffa400;
}

/*SECTION-ONE*/
.section-one{
    display: flex;
    flex-wrap: wrap;
    color: #ededed;
    padding: 150px 0px;
}
.section-one > div{
    width: 50%;
    height: 700px;
}
.section-one .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-one .text > div:nth-child(odd){
    width: 85%;
}
.section-one .text > div:nth-child(odd) h1{
    font-size: 5em;
    font-family: 'Martel', serif;
    color: #ffa400;
    line-height: 90px;
    padding: 30px 0px;
}
.section-one .text > div:nth-child(odd) h2{
    font-size: 1.2em;
    font-family: 'Martel', serif;
    
}
.section-one .text > div:nth-child(odd) p{
    line-height: 25px;
}
.section-one .text > div:nth-child(odd) button{
    margin-top: 40px;
    padding: 15px 35px;
    background-color: inherit;
    border: solid 2px white;
    color: white;
}
.section-one .text > div:nth-child(odd) button:hover{
    cursor: pointer;
    border-color: #ffa400;
    background-color: #ffa400;
    transition: 0.4s;
}
.section-one #section-one-image{
    width: 90%;
    padding-top: 8px;
    transition: 0.4s;
}
.section-one #section-one-image:hover{
    cursor: pointer;
    padding-top: 0px;
}


/*SECTION-TWO*/
.section-two{
    padding-top: 150px;
    padding-bottom: 35px;
}
.section-two .column{
    display: flex;
}
.section-two .column > div{
    width: 50%;
}
/*column-one*/
.section-two .column .column-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-two .column .column-one .frame-container{
    height: 620px;
}
.section-two .column .column-one .frame-container img{
    padding-top: 8px;
    transition: 0.4s;
    box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
}
.section-two .column .column-one .frame-container img:hover{
    cursor: pointer;
    padding-top: 0px;
}

/*universal style for sections name and description*/
.name-description-wrapper{
    width: 83%;
    padding-right: 60px;
    margin: 50px 0px;
}
.name-description-wrapper .art-name{
    font-family: 'Martel', serif;
    color: #ffa400;
    font-size: 1.2em;
}
.name-description-wrapper .art-description{
    line-height: 25px;
    padding: 20px 0px;
}

/*column-two*/
.section-two .column .column-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-two .column .column-two .section-title-wrapper{
    width: 83%;
}
.section-two .column .column-two .section-title-wrapper .section-title{
    font-family: 'Martel', serif;
    font-weight: normal;
    color: #ffa400;
    font-size: 3.9em;
    line-height: 60px;
}
.section-two .column .column-two .section-title-wrapper .section-description{
    line-height: 25px;
    padding: 30px 0px;
}
.section-two .column .column-two .section-title-wrapper button{
    padding: 15px 35px;
    background-color: inherit;
    border: solid 2px black;
    color: black;
    margin-bottom: 40px;
}
.section-two .column .column-two .section-title-wrapper button:hover{
    cursor: pointer;
    border-color: #ffa400;
    background-color: #ffa400;
    color: white;
    transition: 0.4s;
}

.section-two .column .column-two .frame-container{
    height: 425px
}
.section-two .column .column-two .frame-container img{
    padding-top: 8px;
    transition: 0.4s;
    box-shadow: -28px 26px 50px -1px rgba(0,0,0,0.1);
}
.section-two .column .column-two .frame-container img:hover{
    cursor: pointer;
    padding-top: 0px;
}


/*SECTION-THREE*/
.section-three-background-image{
    background-image: url(images/section-three-background-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-three{
    padding: 120px 0px;
}
.section-three .column{
    display: flex;
}
.section-three .column .story-wrapper{
    width: 70%;
    display: flex;
}
.section-three .column .story-wrapper #artist-image{
    background-image: url(images/section-three-image-col-1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 35%;
}
.section-three .column .story-wrapper #text{
    background-color: white;
    width: 65%;
    padding: 50px;
}
.section-three .column .story-wrapper #text h2{
    font-family: 'Martel', serif;
    font-weight: normal;
    color: #ffa400;
    font-size: 2.5em;
}
.section-three .column .story-wrapper #text p{
    line-height: 25px;
    padding: 30px 0px;
}
.section-three .column .moto-wrapper{
    color: #ededed;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    width: 30%;
}
.section-three .column .moto-wrapper p{
    line-height: 25px;
    padding: 30px 0px;
}